@import "../../vars.css";

.nav-content{
    background: var(--background-all);
    /* border: var(--border-all); */
    border-radius: var(--border-radius-all);
    box-shadow: var(--box-shadow);
    display: flex;
    gap: 9%;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -1%;
}

.Text{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 2%;
    width: 24%;
    margin-bottom: 2%;
}

.nav-title{
    font-family: var(--font-all);
    font-style: normal;
    color: var(--font-color-all);
    font-weight: bolder;
    font-size: var(--font-size-title);
    line-height: 38px;
}

.nav-subtitle
{
    font-family: var(--font-all);
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-size-subs);
    line-height: 24px;
    color: var(--font-color-all);
}

.nav-buttons{
    width: 50%;
    margin-left: 19%;
    margin-top: 2%;
}

.nav-buttons-items{
    display: flex;
    flex-direction: row;
    gap: 9%;
    width: 100%;
    list-style: none;
}

.nav-buttons-items li a 
{
    font-family: var(--font-all);
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 38px;
    color: var(--font-color-all);
    /* list-style: none; */
    text-decoration: none;
}