.sipg-input{
  display: grid;
  padding-left: 527px;
  margin-top: 3%;
  /* position: absolute; */
}

.highcharts-axis-line {
  fill: none;
  stroke: #3333330f!important;
}
#highest,#last,#on_day {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #highest td, #highest th, #last td, #last th, #on_day td, #on_day th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #highest tr:nth-child(even),#last tr:nth-child(even),#on_day tr:nth-child(even){background-color: #f2f2f2;}
  
  #highest tr:hover, #last tr:hover,#on_day tr:hover {background-color: #ddd;}
  
  #highest th,#last th ,#on_day th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .sipg-output{
    padding-left: 24%;
    padding-top: 26%;
    width: 100%;
  }
  .linechart
  {
    overflow: hidden;
    padding-top: 7%;
    padding-bottom: 15%;
  }

  .sipg-title{
    padding-bottom: 2%;
    padding-left: 30%;
    font-size: larger;
    font-weight: bold;
  }
  .highest,.last-content{
    display: flex;
    flex-direction: column;
  }