@import "../../vars.css";

.buttons-year{
    padding-bottom: 4%;
    padding-top: 2%;
    padding-left: 2%;
    display: flex;
    gap: 2%;
}

.year-button{
    border-style: hidden;
    background: var(--background-all);
    border-radius: 10%;
    width: 5%;
    height: 32px;
    cursor:pointer;
    color: var(--font-color-all);
    font-family: var(--font-all) !important;
}