@import url('https://code.highcharts.com/css/highcharts.css');
@import url('https://code.highcharts.com/dashboards/css/datagrid.css');
@import url('https://code.highcharts.com/dashboards/css/dashboards.css');

body {
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
    sans-serif;
}

#container {
  padding: 10px;
  background-color: var(--highcharts-neutral-color-5);
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cell {
  /* flex: 1; */
  min-width: 20px;
}

.cell > .highcharts-dashboards-component {
  position: relative;
  margin: 10px;
  background-clip: border-box;
  background-color: var(--highcharts-background-color);
}

#kpi-wrapper {
  padding-top: 1%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-content: center;
  flex-wrap: wrap;
}
.digital_gold_wrapper{
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-left: 8%;
    padding-top: 4%;
}
#digital_gold #single-wrapper3{
  width: 557px;
    padding-top: 1%;
    margin-left: -75px;
    display: flex;
    flex-direction: column;
    flex: 2 1;
    align-content: center;
    flex-wrap: wrap;
 
}

#physical_gold .row{
  gap:2%;
}
#kpi-digigold-today{
  width:100%
}

#aaa .highcharts-dashboards-component-kpi,#bbb .highcharts-dashboards-component-kpi{
  background-color: var(--highcharts-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
#ccc .highcharts-dashboards-component-kpi,#ddd .highcharts-dashboards-component-kpi{
  background-color: var(--highcharts-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;

}
#kpi-gold-today,
#kpi-iron {
  flex-grow: 1;
  width: 96%;
  height: 300px;
}
#dashboard-col-0{
  flex: 2 1;
  padding-top: 0.4%;
}


h1#title {
  padding-top: 10px;
  margin: 0;
  background-color: #3d3d3d;
  text-align: center;
  color: #fff;
}

#kpi-gold-today .highcharts-dashboards-component-title::before,
#kpi-digigold-today .highcharts-dashboards-component-title::before {
  width: 14px;
  height: 14px;
  border-radius: 28px;
  display: inline-block;
  padding: 0;
  margin-right: 4px;
  background-color: var(--highcharts-color-0);
  content: ' ';
}

#kpi-iron .highcharts-dashboards-component-title::before {
  background-color: var(--highcharts-color-2);
}

#kpi-gold-today .highcharts-dashboards-component-kpi-subtitle,
#kpi-digigold-today .highcharts-dashboards-component-kpi-subtitle {
  margin-top: 10px;
  font-size: 1.2em;
  color: var(--highcharts-neutral-color-60);
}

#kpi-gold-today .highcharts-dashboards-component-kpi,
#kkpi-digigold-today .highcharts-dashboards-component-kpi {
  padding: 10px;
}

#kpi-gold-today .highcharts-dashboards-component-kpi-value,
#kpi-digigold-today .highcharts-dashboards-component-kpi-value {
  font-size: 4em;
  line-height: 2.4rem;
  margin-top: 10px;
  color: var(--highcharts-color-0);
}

#kpi-iron .highcharts-dashboards-component-kpi-value {
  color: var(--highcharts-color-2);
}

#dashboard-col-1 .highcharts-color-0 {
  fill: var(--highcharts-color-2);
  stroke: var(--highcharts-color-2);
}

#kpi-gold-today .highcharts-dashboards-component-kpi-value::after,
#kpi-digigold-today .highcharts-dashboards-component-kpi-value::after {
  content: 'Per Gram(22K)';
  display: block;
  font-size: 1rem;
}

.highcharts-plot-line {
  stroke-dasharray: 2px;
  stroke: var(--highcharts-color-3);
}

.highcharts-plot-line-label {
  fill: var(--highcharts-color-3);
}

.highcharts-description {
  padding: 0 20px;
}

#single-wrapper1,#single-wrapper2{
  display: flex;
  flex-direction: row;
    justify-content: center;
    flex: 0 3 21%;
    background-color: rgb(157 113 146 / 16%);
}
#aaa,#bbb,#ccc,#ddd{
  width: 50%;
  height: fit-content;
}

.title{
  background: linear-gradient(90deg, #07553E 0%, #061C16 98.5%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 101.2%;
    margin-left: -10px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
    font-family: monospace;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 39px;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
}
.cell .highcharts-dashboards-component-kpi-value{
  font-size: 1.5em;
}

/* .cell .highcharts-dashboards-component
{
  color: #f7f7f7;
} */
.cell .highcharts-dashboards-component-title
{
  /* color: #f7f7f7; */
  font-size: 20px;
  margin: 0.5em 2px;
}


@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }

  #kpi-wrapper {
    flex-direction: row;
    flex: unset;
    width: 100%;
  }
}

@media (max-width: 576px) {
  #dashboard-col-0,
  #dashboard-col-1 {
    flex: unset;
    width: 100%;
  }
}
