@import url('https://code.highcharts.com/css/highcharts.css');
@import url('https://code.highcharts.com/dashboards/css/datagrid.css');
@import url('https://code.highcharts.com/dashboards/css/dashboards.css');
@import "./vars.css";

body {
  min-height: 100vh;
  font-family: var(--font-all);
  background: linear-gradient(180deg, #192A29 0%, #426969 100%);
  background-repeat: no-repeat !important; 
  overflow-x: hidden;
}

.highcharts-background {
  fill: transparent !important;
}

.highcharts-data-label text, text.highcharts-data-label, .highcharts-title, .highcharts-axis-labels text,.highcharts-yaxis text
{
  fill:var(--font-color-all) !important;
  font-family: var(--font-all) !important;
}

.highcharts-navigator-mask-inside {
  fill: #66dcff !important;
}
.highcharts-credits{
  display: none;
}
#container {
  padding: 10px;
  background-color: var(--highcharts-neutral-color-5);
}

.SIPG-App{
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cell {
  /* flex: 1; */
  min-width: 20px;
}

.cell > .highcharts-dashboards-component {
  position: relative;
  margin: 10px;
  background-clip: border-box;
  background-color: var(--background-all);
}

#kpi-wrapper {
  padding-top: 1%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-content: center;
  flex-wrap: wrap;
}
.digital_gold_wrapper{
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-left: 8%;
    padding-top: 4%;
}
#digital_gold #single-wrapper3{
  width: 557px;
    padding-top: 1%;
    margin-left: -75px;
    display: flex;
    flex-direction: column;
    flex: 2 1;
    align-content: center;
    flex-wrap: wrap;
 
}
#kpi-digigold-today .highcharts-dashboards-component-kpi-chart-container
{
height: 289px;
margin-top: 112px;
}

#physical_gold .row{
  gap:2%;
  padding-top: 4%;
    padding-bottom: 5%;
}
#kpi-digigold-today{
  width:100%;
  background: var(--background-all);
  border-radius: var(--border-radius-all);
  box-shadow: var(--box-shadow);
}
#dashboard-col-1{
  background: var(--background-all);
  /* border: var(--border-all); */
  border-radius: var(--border-radius-all);
  box-shadow: var(--box-shadow);
  margin-top: 1%;
}

#dashboard-col-0
{

    padding-left: 4%;
}
#dashboard-col-0{
  background: var(--background-all);
    /* border: var(--border-all); */
    border-radius: var(--border-radius-all);
    box-shadow: var(--box-shadow);
    margin-right: 68px;
    margin-left: 32px;
    margin-top: 1%;
   
}
.highcharts-button
{
  fill: #005F5C !important;
}
.highcharts-button text, .highcharts-legend-item text{
  fill: var(--font-color-all) !important;
  font-family: var(--font-all) !important;
}

#text-1, #text-2
{
  width: 50%;
    margin-right: -31%;
    margin-top: 36px;
}
.highcharts-label text
{
  fill: var(--font-color-all) !important;
  font-family: var(--font-all) !important;
}
.highcharts-tooltip-box, .highcharts-label-box
{
  fill:#005F5C !important;
}
#aaa .highcharts-dashboards-component-kpi,#bbb .highcharts-dashboards-component-kpi, 
#ccc .highcharts-dashboards-component-kpi,#ddd .highcharts-dashboards-component-kpi{
  background: var(--background-all);
  /* border: var(--border-all); */
  border-radius: var(--border-radius-all);
  box-shadow: var(--box-shadow);
}
.highcharts-color-0 {
  fill: #31b59a !important;
}
#wrapper{
  background: var(--background-all);
  /* border: var(--border-all); */
  border-radius: var(--border-radius-all);
  box-shadow: var(--box-shadow);
  /* padding-top: 5%;
    padding-bottom: 5%; */
    padding-top: 6%;
}

#kpi-gold-today,
#kpi-iron {
  flex-grow: 1;
  width: 99%;
  height: 300px;
  margin-bottom: 5%;
  background: var(--background-all);
  /* border: var(--border-all); */
  border-radius: var(--border-radius-all);
  box-shadow: var(--box-shadow);
}
#dashboard-col-0{
  flex: 2 1;
  padding-top: 0.4%;
}


h1#title {
  padding-top: 10px;
  margin: 0;
  background-color: #3d3d3d;
  text-align: center;
  color: #fff;
}

#kpi-gold-today .highcharts-dashboards-component-title::before,
#kpi-digigold-today .highcharts-dashboards-component-title::before {
  width: 14px;
  height: 14px;
  border-radius: 28px;
  display: inline-block;
  padding: 0;
  margin-right: 4px;
  background-color: var(--highcharts-color-0);
  content: ' ';
}

#kpi-iron .highcharts-dashboards-component-title::before {
  background-color: var(--highcharts-color-2);
}

#kpi-gold-today .highcharts-dashboards-component-kpi-subtitle,
#kpi-digigold-today .highcharts-dashboards-component-kpi-subtitle {
  margin-top: 10px;
  font-size: 1.2em;
  color: var(--highcharts-neutral-color-60);
}

#kpi-gold-today .highcharts-dashboards-component-kpi,
#kkpi-digigold-today .highcharts-dashboards-component-kpi {
  padding: 10px;
}

#kpi-gold-today .highcharts-dashboards-component-kpi-value,
#kpi-digigold-today .highcharts-dashboards-component-kpi-value {
  font-size: 4em;
  line-height: 2.4rem;
  margin-top: 10px;
  color: var(--highcharts-color-0);
}

#kpi-iron .highcharts-dashboards-component-kpi-value {
  color: var(--highcharts-color-2);
}

/* #dashboard-col-1 .highcharts-color-0 {
  fill: var(--highcharts-color-2);
  stroke: var(--highcharts-color-2);
} */
#kpi-digigold-today .highcharts-dashboards-component-kpi-value::after {
  content: 'Per Gram';
  display: block;
  font-size: 1rem;
}
#kpi-gold-today .highcharts-dashboards-component-kpi-value::after
{
    content: 'Per Gram(22K)';
  display: block;
  font-size: 1rem;
}

.highcharts-plot-line {
  stroke-dasharray: 2px;
  stroke: var(--highcharts-color-3);
}

.highcharts-plot-line-label {
  fill: var(--highcharts-color-3);
}

.highcharts-description {
  padding: 0 20px;
}

#single-wrapper1,#single-wrapper2{
  display: flex;
  flex-direction: row;
    justify-content: center;
    flex: 0 3 21%;
}
#aaa,#bbb,#ccc,#ddd{
  width: 50%;
  height: fit-content;
  padding-right: 2%;
}

.title{
  /* background: linear-gradient(90deg, #07553E 0%, #061C16 98.5%); */
  background: var(--background-all);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 101.2%;
    margin-left: -10px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
    font-family: var(--font-all);
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 39px;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
}
.cell .highcharts-dashboards-component-kpi-value{
  font-size: 1.5em;
}

#aaa, #ccc {
  padding-left: 24%;
}
.cell .highcharts-dashboards-component-title
{
  color: var(--font-color-all);
  font-family: var(--font-all) !important;
  font-size: 20px;
  margin: 0.5em 2px;
}

.highcharts-dashboards-component
{
  color: var(--font-color-all) !important;
  font-family: var(--font-all) !important;
}

@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }

  #kpi-wrapper {
    flex-direction: row;
    flex: unset;
    width: 100%;
  }
}

@media (max-width: 576px) {
  #dashboard-col-0,
  #dashboard-col-1 {
    flex: unset;
    width: 100%;
  }
}
